*{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    box-sizing:border-box;
}
.container{
    width : 100%;
    height :100vh;
    background: linear-gradient(135deg, rgb(75, 75, 211), rgb(94, 79, 140));
    padding-top :5%;
    padding-left:10%;
}
.notes
{
    color:rgb(250, 237, 119);
}

.container h1
{
    display:flex;
    align-items:center;
    font-size:35px;
    font-weight:600;
}
.container h1 img{
    width:60px;
}
.container button 
{
    display:flex;
    align-items:center;
    background : linear-gradient(135deg,rgba(205, 174, 23, 0.815));
    border:0;
    outline:0;
    margin-top:2px;
    padding:5px 45px;
    margin:8px 5px ;
    border-radius:40px;
    cursor:pointer;
}
.container button img
{
    position:relative;
    right:0cap;
    height:18px;
    width:20px;
}
.input-box
{
    position:relative;
    background: white;
    min-height:200px;
    max-width:500px;
    
    padding:10px ;
    margin:10px 0;
    border-radius:10px;
    outline:none;

}
.input-box img{
    position:absolute;
    width:30px;
    height:30px;

    right:10px;
    bottom:10px;
    cursor:pointer;
}